p {
	text-align: center;
}

body {
	color: white;
	background-color: #007;
	font-family:  "Arial";
	font-size: 20px;
}

a, a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: red;
}