p {
	text-align: center;
}

body {
	color: white;
	background-color: #007;
	font-family:  "Arial";
	font-size: 20px;
}

a, a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: red;
}

figure {
	border: solid;
	width: 100%;
	padding: 10px;
	margin:0;
}

figcaption {
	font-style: italic;
	text-align: center;
}

img{
	width: 100%;
	max-width: 100%;
}



@media screen and (max-width:800px){
	#bill-gates-image{
		content: url("../image/bill_gates_small.jpg");
	}
	#elon-musk-image{
		content: url("../image/elon_musk_small.jpg");
	}
	#daniel-negreanu-image{
		content: url("../image/daniel_negreanu_small.jpg");
	}
	#jack-sparrow-image{
		content: url("../image/jack_sparrow_small.jpg");
	}
	figure{
		font-size: 15px;
	}
	figcaption{
		font-size: 10px;
	}
	video{
		max-width: 40%;
	}
	body{
		font-size: 15px;
	}
	h1{
		font-size: 20px;
	}
}
@media screen and (min-width: 801px){
	#elon-musk-image{
		content: url("../image/elon_musk.jpg");
	}
	#daniel-negreanu-image{
		content: url("../image/daniel_negreanu.jpg");
	}
	#bill-gates-image{
		content: url("../image/bill_gates.jpg");
	}
	#jack-sparrow-image{
		content: url("../image/jack_sparrow.jpg");
	}
}