table {
	border-collapse: collapse;
}
	
th, td {
	border: 3px solid currentcolor;
	padding: 10px 20px 10px 20px;
}

table#t01 th {
	color: #000;
	background-color: #fff;
}

table#t01 td {
	color: #fff;
	background-color: #000;
}